{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client</h1>

    <table class="table table-bordered table-striped table-condensed">
        <tbody>
            
            <tr>
                <th>Numero Client</th>
                <td>{{ commande.medecin.identifiant }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ commande.medecin.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ commande.medecin.prenom }}</td>
            </tr>
             
        </tbody>
    </table>

            <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Reference Produit</th>
                <th>Designation</th>
                <th>Quantite</th>
                <th>Prix unitaire</th>
                <th>Prix total</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in commande.produits %}
            <tr>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.designation }}</td>
                <td>{{ commande.quantite }}</td>
                <td>{{ produit.prixUnitaire }}</td>
                <td>{{ produit.prixTotal }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>





        

    <ul>
        
        <li>
            <a href="{{ path('commande_edit', { 'id': commande.medecin.identifiant }) }}">Modifier</a>
        </li>
       
    </ul>
{% endblock %}
