{% extends 'base.html.twig' %}

{% block body %}
       {% for produit in produits %}

    <h1>Presentation du Produit: {{ produit.designation }}</h1>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Designation</th>
                <th>Quantite</th>
                <th>Prix unitaire</th>
                <th>Prix Total</th>
               
            </tr>
        </thead>
        <tbody>
     
            <tr>
                
                <td>{{ produit.reference }}</td>
                <td>{{ produit.designation }}</td>
                <td>{{ produit.quantite }}</td>
                <td>{{ produit.prixUnitaire |number_format(2, ',', '.') }} DH</td>
                <td>{{ produit.prixTotal |number_format(2, ',', '.') }} DH</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
 
   

    

             
    
        
{% endblock %}
